{% extends 'passcode/layout.html' %}

{% block title %}Passcode{% endblock %}

{% block body %}
<h1>{{ title.title }}</h1>
<div><a href="{% url 'good' id %}">good</a></div>
<div><a href="{% url 'code_report' id %}">report</a></div>
<form action="{% url 'comment' id %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="検索">
</form>
{% for item in data %}
<p>{{item.comment}}</p>
<div><a href="{% url 'comment_report' id item.id %}">report</a></div>
{% endfor %}
{% endblock %}

<!-- イイねリスト -->
{% block list %}
{% for item in list %}
<ul>
  <li><a href="{% url 'comment' item.id %}">{{ item.title }}</a></li>
  <li><a href="{% url 'person' item.oner.id %}">{{ item.oner }}</a></li>
</ul>
{% endfor %}
{% endblock %}