{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <p>題名</p>
  {% if user.is_authenticated %}
  <div><a href="http://localhost:8000/accounts/index/" style="color:green;" >ログインアカウント</a></div>
  {% else %}
  <div><a href="http://localhost:8000/accounts/index/">ログインアカウント</a></div>
  {% endif %}
  <div>設定</div><br>
  <div>{% block body %}{% endblock %}</div>
  <p>いいねランキング</p>
  <div>{% block list %}{% endblock %}</div>
  <div>footer</div>
</body>
</html>